<!-- <p>
  {{nombre}} *
</p> -->


<div class="card border-info" style="margin-bottom: 10px;"
	[@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
	<div class="card-img">
		<img src="https://placeimg.com/380/230/nature" alt="">
		<span>
			<h4>{{position}}</h4>
		</span>
	</div>
	<div class="card-body">
		<h5 class="card-title">{{destino.nombre}}</h5>
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolorquo, perspiciatis
			voluptas totam</p>
		<p>Servicios</p>
		<ul>
			<li *ngFor="let s of destino.servicios">
				<span [ngSwitch]="s">
					<i *ngSwitchCase="'desayuno'" class="text-success">{{s}}</i>
					<i *ngSwitchDefault class="text-info">{{s}}
					</i>	
				</span>
			</li>
		</ul>
		<div>
			<a href="#" (click)="voteUp()" 
				appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item"
			><i class="material-icons md-18">thumb_up</i></a>
			
			<a href="#" (click)="voteDown()"
				appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item"
			><i class="material-icons md-18">thumb_down</i></a>
			{{destino.votes}}
		</div>
		<div class="text-center">
			<a href="#" class="btn-card" (click)="ir()" style=" margin-bottom: 200px;"
				appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item"
			>ir!</a>
					<span *ngIf="destino.isSelected()"> 
						<span ngNonBindable class="text-secondary"> - PREFERIDO - </span>
					</span>
		</div>
	</div>
	<div class="card-footer text-center">
		<a type="button" class="btn btn-info" [routerLink]="['/destino']">Detalles de destino</a>
	</div>
</div>